window {
  /*background-color: #ff00ff;*/
  /*background-image: url(¨teste.jpg¨);*/
  background-image: url("../src/image/bg.png");
  background-size: cover;
  background-position: center;
}
button{
	border: 0;
}
.bt_compra_carta{
	background-image: url("../src/image/bt_comprar.png");
	background-repeat: no-repeat;
	border: 0;
}
.bt_compra_carta:hover{
	background-image: url("../src/image/bt_comprar_hover.png");
	border: 0;
}
.bt_compra_carta:active{
	background-image: url("../src/image/bt_comprar_foco.png");
}
.bt_compra_carta_db,.bt_compra_carta_db:hover,.bt_compra_carta_db:active{
	background-image: url("../src/image/bt_comprar_disabilitado.png");
}

.bt_finaliza_jog{
	background-image: url("../src/image/bt_finalizar.png");
	background-repeat: no-repeat;
	border: 0;
}
.bt_finaliza_jog:hover{
	background-image: url("../src/image/bt_finalizar_hover.png");
	border: 0;
}
.bt_finaliza_jog:active{
	background-image: url("../src/image/bt_finalizar_foco.png");
}
.bt_finaliza_jog_db,.bt_finaliza_jog_db:hover,.bt_finaliza_jog_db:active{
	background-image: url("../src/image/bt_finalizar_desabilitado.png");
}
#tela_bem_vindo{
	background-image: url("../src/image/bem_vindo.png");
	background-repeat: no-repeat;
	border: 0;
	background-size: cover;
}
#bt_pronto{
	background-image: url("../src/image/bt_pronto.png");
	background-repeat: no-repeat;
	border: 0;
}
#bt_pronto:hover{
	background-image: url("../src/image/bt_pronto_hover.png");
}
#bt_pronto:active{
	background-image: url("../src/image/bt_pronto_foco.png");
}
#tela_erro_jogada{
	background-image: url("../src/image/erro_jogada.png");
	background-repeat: no-repeat;
	border: 0;
	background-size: cover;
}
#bt_ok{
	background-image: url("../src/image/bt_ok.png");
	background-repeat: no-repeat;
	border: 0;
}
#bt_ok:hover{
	background-image: url("../src/image/bt_ok_hover.png");
}
#bt_ok:active{
	background-image: url("../src/image/bt_ok_foco.png");
}

#tela_ganha{
	background-image: url("../src/image/ganhador_fundo.png");
	background-repeat: no-repeat;
	border: 0;
	background-size: cover;
}
#bt_final{
	background-image: url("../src/image/bt_final.png");
	background-repeat: no-repeat;
	border: 0;
}
#bt_final:hover{
	background-image: url("../src/image/bt_final_hover.png");
}
#bt_final:active{
	background-image: url("../src/image/bt_final_foco.png");
}
#img_jogador_1{
	background-image: url("../src/image/jogador_1.png");
}
#img_jogador_2{
	background-image: url("../src/image/jogador_2.png");
}
#img_jogador_3{
	background-image: url("../src/image/jogador_3.png");
}
#img_jogador_4{
	background-image: url("../src/image/jogador_4.png");
}
#img_jogador_5{
	background-image: url("../src/image/jogador_5.png");
}
#tela_home{
	background-image: url("../src/image/bg_home.png");
	background-repeat: no-repeat;
	border: 0;
	background-size: cover;
}

.bt_n_jog_2{
	background-image: url("../src/image/n2.png");
}
.bt_n_jog_3{
	background-image: url("../src/image/n3.png");
}
.bt_n_jog_4{
	background-image: url("../src/image/n4.png");
}
.bt_n_jog_5{
	background-image: url("../src/image/n5.png");
}

.bt_n_jog_2_foco{
	background-image: url("../src/image/n2_f.png");
}
.bt_n_jog_3_foco{
	background-image: url("../src/image/n3_f.png");
}
.bt_n_jog_4_foco{
	background-image: url("../src/image/n4_f.png");
}
.bt_n_jog_5_foco{
	background-image: url("../src/image/n5_f.png");
}

#bt_iniciar{
	background-image: url("../src/image/bt_iniciar.png");
	background-repeat: no-repeat;
	border: 0;
	background-position: center;
}
#bt_iniciar:hover{
	background-image: url("../src/image/bt_iniciar_hover.png");
}
