window {
  /*background-color: #ff00ff;*/
  /*background-image: url(¨teste.jpg¨);*/
  background-image: url("image/bg.png");
  background-size: cover;
  background-position: center;
}
button{
	border: 0;
}
#bt_compra_carta{
	background-image: url("image/bt_comprar.png");
	background-repeat: no-repeat;
	border: 0;
}
#bt_compra_carta:hover{
	background-image: url("image/bt_comprar_hover.png");
	border: 0;
}
#bt_compra_carta:active{
	background-image: url("image/bt_comprar_foco.png");
}
.bt_compra_carta_db{
	background-image: url("image/bt_comprar_disabilitado.png") !important;
}
#bt_finaliza_jog{
	background-image: url("image/bt_finalizar.png");
	background-repeat: no-repeat;
	border: 0;
}
#bt_finaliza_jog:hover{
	background-image: url("image/bt_finalizar_hover.png");
	border: 0;
}
#bt_finaliza_jog:active{
	background-image: url("image/bt_finalizar_foco.png");
}